services:
  bridge:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: bridge

    ports:
      - "9090:9090"
    command: >
      bridge
        --stream CDC,INIT
        --slot ${BRIDGE_CDC_SLOT:- "cdc_slot"}
        --publication ${BRIDGE_CDC_PUBLICATION:- "cdc_pub"}
        --port 9090
        --table users,test_types
    depends_on:
      postgres:
        condition: service_healthy
      nats-init:
        condition: service_completed_successfully
    environment:
      POSTGRES_HOST: postgres
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_PORT: ${POSTGRES_PORT:-5432}
      POSTGRES_DB: postgres
      NATS_HOST: nats-server
      NATS_USER: ${NATS_USER}
      NATS_PASSWORD: ${NATS_PASSWORD}
      LOG_LEVEL: info
    networks:
      - cdc-bridge
    restart: unless-stopped

  postgres:
    extends:
      file: docker-compose.yml
      service: postgres

  nats-server:
    extends:
      file: docker-compose.yml
      service: nats-server

  nats-init:
    extends:
      file: docker-compose.yml
      service: nats-init

volumes:
  postgres-data:
    driver: local
  nats-data:
    driver: local

networks:
  cdc-bridge:
    driver: bridge
